projects/document-parser/doc-parsing-platform.yml
AWSTemplateFormatVersion: "2010-09-09"
Description: Async PDF parsing platform (API Gateway + Lambda + Step Functions + ECS/Fargate + Textract + S3 + DynamoDB)

Parameters:
  ProjectName:
    Type: String
    Default: doc-parse
  Environment:
    Type: String
    Default: prod
    AllowedValues: [dev, staging, prod]

  # Networking for ECS Fargate tasks
  VpcId:
    Type: AWS::EC2::VPC::Id
  PrivateSubnetIds:
    Type: List<AWS::EC2::Subnet::Id>
  SecurityGroupId:
    Type: AWS::EC2::SecurityGroup::Id

  # Container images
  SplitterImage:
    Type: String
    Description: ECR image URI for splitter task (e.g., 123456789012.dkr.ecr.us-west-2.amazonaws.com/splitter:1)
  PostProcessorImage:
    Type: String
    Description: ECR image URI for postprocessor task (e.g., 123456789012.dkr.ecr.us-west-2.amazonaws.com/postprocess:1)

  # Limits / behavior
  SplitThresholdBytes:
    Type: Number
    Default: 450000000 # 450MB buffer under Textract 500MB PDF limit
  PartsMaxConcurrency:
    Type: Number
    Default: 3
    MinValue: 1
    MaxValue: 20

  JobTtlDays:
    Type: Number
    Default: 30

  PresignUrlExpirySeconds:
    Type: Number
    Default: 3600

  ApiStageName:
    Type: String
    Default: v1

  FrontendOrigin:
    Type: String
    Default: "*"
    Description: Allowed origin for browser uploads and API CORS (e.g., https://app.example.com). Use * only for dev.

Conditions:
  IsProd: !Equals [!Ref Environment, "prod"]

Resources:
  ############################################
  # S3 Buckets
  ############################################
  RawBucket:
    Type: AWS::S3::Bucket
    Properties:
      CorsConfiguration:
        CorsRules:
          - AllowedMethods: [PUT, POST, GET, HEAD]
            AllowedOrigins:
              - "https://localhost"
            AllowedHeaders: ["*"]
            ExposedHeaders: ["ETag"]
            MaxAge: 3000
      BucketName: !Sub "${ProjectName}-${Environment}-raw-${AWS::AccountId}-${AWS::Region}"
      VersioningConfiguration: { Status: Enabled }
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault: { SSEAlgorithm: AES256 }
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: ExpireRaw
            Status: Enabled
            ExpirationInDays: !Ref JobTtlDays
            AbortIncompleteMultipartUpload:
              DaysAfterInitiation: 7
  RawBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref RawBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Sid: DenyInsecureTransport
            Effect: Deny
            Principal: "*"
            Action: "s3:*"
            Resource:
              - !Sub "${RawBucket.Arn}"
              - !Sub "${RawBucket.Arn}/*"
            Condition:
              Bool:
                aws:SecureTransport: false

  ParsedBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "${ProjectName}-${Environment}-parsed-${AWS::AccountId}-${AWS::Region}"
      VersioningConfiguration: { Status: Enabled }
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault: { SSEAlgorithm: AES256 }
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: ExpireParsed
            Status: Enabled
            ExpirationInDays: !Ref JobTtlDays

  ############################################
  # DynamoDB: Jobs table
  ############################################
  DocumentJobsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "${ProjectName}-${Environment}-jobs"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: jobId
          AttributeType: S
      KeySchema:
        - AttributeName: jobId
          KeyType: HASH
      TimeToLiveSpecification:
        AttributeName: ttlEpochSeconds
        Enabled: true

  ############################################
  # CloudWatch Log Groups
  ############################################
  SplitterLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/${ProjectName}/${Environment}/splitter"
      RetentionInDays: !If [IsProd, 30, 7]

  PostProcessorLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub "/${ProjectName}/${Environment}/postprocess"
      RetentionInDays: !If [IsProd, 30, 7]

  ############################################
  # ECS Cluster + Task Roles + Task Definitions
  ############################################
  ProcessingCluster:
    Type: AWS::ECS::Cluster
    Properties:
      ClusterName: !Sub "${ProjectName}-${Environment}-cluster"

  EcsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${Environment}-ecs-exec"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonECSTaskExecutionRolePolicy

  SplitterTaskRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${Environment}-splitter-task"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SplitterAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject, s3:ListBucket]
                Resource:
                  - !GetAtt RawBucket.Arn
                  - !Sub "${RawBucket.Arn}/*"
              - Effect: Allow
                Action: [dynamodb:UpdateItem, dynamodb:GetItem]
                Resource: !GetAtt DocumentJobsTable.Arn

  PostProcessorTaskRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${Environment}-post-task"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: ecs-tasks.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: PostProcessAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject, s3:ListBucket]
                Resource:
                  - !GetAtt RawBucket.Arn
                  - !Sub "${RawBucket.Arn}/*"
                  - !GetAtt ParsedBucket.Arn
                  - !Sub "${ParsedBucket.Arn}/*"
              - Effect: Allow
                Action: [dynamodb:UpdateItem, dynamodb:GetItem]
                Resource: !GetAtt DocumentJobsTable.Arn
              - Effect: Allow
                Action:
                  - textract:GetDocumentAnalysis
                Resource: "*"

  SplitterTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ProjectName}-${Environment}-splitter"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: "2048"
      Memory: "4096"
      ExecutionRoleArn: !GetAtt EcsExecutionRole.Arn
      TaskRoleArn: !GetAtt SplitterTaskRole.Arn
      ContainerDefinitions:
        - Name: splitter
          Image: !Ref SplitterImage
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-region: !Ref AWS::Region
              awslogs-group: !Ref SplitterLogGroup
              awslogs-stream-prefix: ecs
          Environment:
            - Name: RAW_BUCKET
              Value: !Ref RawBucket
            - Name: JOBS_TABLE
              Value: !Ref DocumentJobsTable
            - Name: SPLIT_THRESHOLD_BYTES
              Value: !Ref SplitThresholdBytes
          # Your container should read JOB_ID, TENANT_ID, INPUT_BUCKET, INPUT_KEY and write parts under:
          # s3://RAW_BUCKET/{tenantId}/{jobId}/input/parts/part-0001.pdf ...

  PostProcessorTaskDefinition:
    Type: AWS::ECS::TaskDefinition
    Properties:
      Family: !Sub "${ProjectName}-${Environment}-postprocess"
      RequiresCompatibilities: [FARGATE]
      NetworkMode: awsvpc
      Cpu: "4096"
      Memory: "8192"
      ExecutionRoleArn: !GetAtt EcsExecutionRole.Arn
      TaskRoleArn: !GetAtt PostProcessorTaskRole.Arn
      ContainerDefinitions:
        - Name: postprocess
          Image: !Ref PostProcessorImage
          Essential: true
          LogConfiguration:
            LogDriver: awslogs
            Options:
              awslogs-region: !Ref AWS::Region
              awslogs-group: !Ref PostProcessorLogGroup
              awslogs-stream-prefix: ecs
          Environment:
            - Name: RAW_BUCKET
              Value: !Ref RawBucket
            - Name: PARSED_BUCKET
              Value: !Ref ParsedBucket
            - Name: JOBS_TABLE
              Value: !Ref DocumentJobsTable
          # Your container should read JOB_ID, TENANT_ID, PARTS_JSON, TEXTRACT_JOB_IDS_JSON and write:
          # s3://PARSED_BUCKET/{tenantId}/{jobId}/output/document.json
          # and update DynamoDB output pointer.

  ############################################
  # Step Functions Role + State Machine
  ############################################
  StepFunctionsRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${Environment}-sfn"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: states.amazonaws.com }
            Action: sts:AssumeRole
      Policies:
        - PolicyName: SfnAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [dynamodb:UpdateItem, dynamodb:GetItem]
                Resource: !GetAtt DocumentJobsTable.Arn
              - Effect: Allow
                Action: [s3:GetObject, s3:PutObject, s3:ListBucket]
                Resource:
                  - !GetAtt RawBucket.Arn
                  - !Sub "${RawBucket.Arn}/*"
                  - !GetAtt ParsedBucket.Arn
                  - !Sub "${ParsedBucket.Arn}/*"
              - Effect: Allow
                Action:
                  - ecs:RunTask
                  - ecs:DescribeTasks
                  - ecs:StopTask
                Resource: "*"
              - Effect: Allow
                Action: iam:PassRole
                Resource:
                  - !GetAtt EcsExecutionRole.Arn
                  - !GetAtt SplitterTaskRole.Arn
                  - !GetAtt PostProcessorTaskRole.Arn
              - Effect: Allow
                Action:
                  - textract:StartDocumentAnalysis
                  - textract:GetDocumentAnalysis
                Resource: "*"
              - Sid: EventBridgeManagedRuleForSyncIntegrations
                Effect: Allow
                Action:
                  - events:PutRule
                  - events:PutTargets
                  - events:DescribeRule
                  - events:RemoveTargets
                  - events:DeleteRule
                  - events:ListTargetsByRule
                Resource: "*"


  OrchestratorStateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub "${ProjectName}-${Environment}-orchestrator"
      RoleArn: !GetAtt StepFunctionsRole.Arn
      DefinitionString:
        Fn::Sub:
          - |

              {
                "Comment": "DDB-driven parts pattern: split writes partsJson; SFN reads parts and runs Textract map; increments progress; postprocess; finalize",
                "StartAt": "MarkStarted",
                "States": {
                  "MarkStarted": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u, partsTotal = :pt, partsDone = :pd",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "STARTED" },
                        ":u": { "S.$": "$$.State.EnteredTime" },
                        ":pt": { "N": "0" },
                        ":pd": { "N": "0" }
                      }
                    },
                    "Next": "MaybeSplit",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "MaybeSplit": {
                    "Type": "Choice",
                    "Choices": [
                      { "Variable": "$.input.bytes", "NumericGreaterThan": ${SplitThresholdBytes}, "Next": "MarkSplitting" }
                    ],
                    "Default": "WriteNoSplitPartsToDdb"
                  },

                  "MarkSplitting": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "SPLITTING" },
                        ":u": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "Next": "RunSplitter",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "RunSplitter": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Parameters": {
                      "LaunchType": "FARGATE",
                      "Cluster": "${ProcessingCluster}",
                      "TaskDefinition": "${SplitterTaskDefinition}",
                      "NetworkConfiguration": {
                        "AwsvpcConfiguration": {
                          "Subnets": ${PrivateSubnetIdsJson},
                          "SecurityGroups": ["${SecurityGroupId}"],
                          "AssignPublicIp": "DISABLED"
                        }
                      },
                      "Overrides": {
                        "ContainerOverrides": [{
                          "Name": "splitter",
                          "Environment": [
                            {"Name": "JOB_ID", "Value.$": "$.jobId"},
                            {"Name": "TENANT_ID", "Value.$": "$.tenantId"},
                            {"Name": "INPUT_BUCKET", "Value.$": "$.input.bucket"},
                            {"Name": "INPUT_KEY", "Value.$": "$.input.key"}
                          ]
                        }]
                      }
                    },
                    "Next": "ReadPartsFromDdb",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "WriteNoSplitPartsToDdb": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET partsJson = :pj, partsTotal = :pt, partsDone = :pd, updatedAt = :u",
                      "ExpressionAttributeValues": {
                        ":pj": {
                          "S.$": "States.Format('[{\"partIndex\":1,\"bucket\":\"{}\",\"key\":\"{}\"}]', $.input.bucket, $.input.key)"
                        },
                        ":pt": { "N": "1" },
                        ":pd": { "N": "0" },
                        ":u": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "Next": "ReadPartsFromDdb",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "ReadPartsFromDdb": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:getItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "ProjectionExpression": "partsJson, partsTotal"
                    },
                    "ResultPath": "$.ddbParts",
                    "Next": "HasParts",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "HasParts": {
                    "Type": "Choice",
                    "Choices": [
                      { "Variable": "$.ddbParts.Item.partsJson.S", "IsPresent": true, "Next": "ParsePartsJson" }
                    ],
                    "Default": "NoPartsFail"
                  },

                  "NoPartsFail": {
                    "Type": "Fail",
                    "Error": "NO_PARTS",
                    "Cause": "Splitter did not produce partsJson in DynamoDB"
                  },

                  "ParsePartsJson": {
                    "Type": "Pass",
                    "Parameters": {
                      "jobId.$": "$.jobId",
                      "tenantId.$": "$.tenantId",
                      "options.$": "$.options",
                      "input.$": "$.input",
                      "parts.$": "States.StringToJson($.ddbParts.Item.partsJson.S)"
                    },
                    "Next": "MarkTextractRunning"
                  },

                  "MarkTextractRunning": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u, partsTotal = :pt, partsDone = :pd",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "TEXTRACT_RUNNING" },
                        ":u": { "S.$": "$$.State.EnteredTime" },
                        ":pt": { "N.$": "States.Format('{}', States.ArrayLength($.parts))" },
                        ":pd": { "N": "0" }
                      }
                    },
                    "Next": "ExtractMap",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "ExtractMap": {
                    "Type": "Map",
                    "ItemsPath": "$.parts",
                    "MaxConcurrency": ${PartsMaxConcurrency},
                    "Parameters": {
                      "jobId.$": "$.jobId",
                      "tenantId.$": "$.tenantId",
                      "options.$": "$.options",
                      "part.$": "$$.Map.Item.Value",
                      "pollCount": 0
                    },
                    "Iterator": {
                      "StartAt": "StartTextract",
                      "States": {
                        "StartTextract": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::aws-sdk:textract:startDocumentAnalysis",
                          "Parameters": {
                            "DocumentLocation": { "S3Object": { "Bucket.$": "$.part.bucket", "Name.$": "$.part.key" } },
                            "FeatureTypes": ["TABLES","FORMS"]
                          },
                          "ResultPath": "$.textractStart",
                          "Next": "PollWait10",
                          "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FailPart" }]
                        },

                        "PollWait10": { "Type": "Wait", "Seconds": 10, "Next": "PollTextract" },

                        "PollTextract": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::aws-sdk:textract:getDocumentAnalysis",
                          "Parameters": { "JobId.$": "$.textractStart.JobId" },
                          "ResultPath": "$.textractPoll",
                          "Next": "IsDone",
                          "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FailPart" }]
                        },

                        "IsDone": {
                          "Type": "Choice",
                          "Choices": [
                            { "Variable": "$.textractPoll.JobStatus", "StringEquals": "SUCCEEDED", "Next": "MarkPartDone" },
                            { "Variable": "$.textractPoll.JobStatus", "StringEquals": "FAILED", "Next": "FailPart" }
                          ],
                          "Default": "BackoffChoice"
                        },

                        "BackoffChoice": {
                          "Type": "Choice",
                          "Choices": [
                            { "Variable": "$.pollCount", "NumericLessThanEquals": 6, "Next": "Wait30" },
                            { "Variable": "$.pollCount", "NumericLessThanEquals": 20, "Next": "Wait60" }
                          ],
                          "Default": "Wait60"
                        },

                        "Wait30": {
                          "Type": "Pass",
                          "Parameters": {
                            "jobId.$": "$.jobId",
                            "tenantId.$": "$.tenantId",
                            "options.$": "$.options",
                            "part.$": "$.part",
                            "textractStart.$": "$.textractStart",
                            "pollCount.$": "States.MathAdd($.pollCount, 1)"
                          },
                          "Next": "PollWait30"
                        },
                        "PollWait30": { "Type": "Wait", "Seconds": 30, "Next": "PollTextract" },

                        "Wait60": {
                          "Type": "Pass",
                          "Parameters": {
                            "jobId.$": "$.jobId",
                            "tenantId.$": "$.tenantId",
                            "options.$": "$.options",
                            "part.$": "$.part",
                            "textractStart.$": "$.textractStart",
                            "pollCount.$": "States.MathAdd($.pollCount, 1)"
                          },
                          "Next": "PollWait60"
                        },
                        "PollWait60": { "Type": "Wait", "Seconds": 60, "Next": "PollTextract" },

                        "MarkPartDone": {
                          "Type": "Task",
                          "Resource": "arn:aws:states:::dynamodb:updateItem",
                          "Parameters": {
                            "TableName": "${DocumentJobsTable}",
                            "Key": { "jobId": { "S.$": "$.jobId" } },
                            "UpdateExpression": "ADD partsDone :one SET updatedAt = :u",
                            "ExpressionAttributeValues": {
                              ":one": { "N": "1" },
                              ":u": { "S.$": "$$.State.EnteredTime" }
                            }
                          },
                          "Next": "PartSucceeded",
                          "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "FailPart" }]
                        },

                        "PartSucceeded": {
                          "Type": "Pass",
                          "Parameters": {
                            "partIndex.$": "$.part.partIndex",
                            "bucket.$": "$.part.bucket",
                            "key.$": "$.part.key",
                            "textractJobId.$": "$.textractStart.JobId"
                          },
                          "End": true
                        },

                        "FailPart": {
                          "Type": "Fail",
                          "Error": "PART_FAILED",
                          "Cause": "Textract failed or errored for part"
                        }
                      }
                    },
                    "ResultPath": "$.textractJobs",
                    "Next": "PersistTextractJobsToDdb",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "PersistTextractJobsToDdb": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET textractJobsJson = :t, updatedAt = :u",
                      "ExpressionAttributeValues": {
                        ":t": { "S.$": "States.JsonToString($.textractJobs)" },
                        ":u": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "Next": "MarkPostProcessing",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "MarkPostProcessing": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "POSTPROCESSING" },
                        ":u": { "S.$": "$$.State.EnteredTime" }
                      }
                    },
                    "Next": "RunPostProcessor",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "RunPostProcessor": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::ecs:runTask.sync",
                    "Parameters": {
                      "LaunchType": "FARGATE",
                      "Cluster": "${ProcessingCluster}",
                      "TaskDefinition": "${PostProcessorTaskDefinition}",
                      "NetworkConfiguration": {
                        "AwsvpcConfiguration": {
                          "Subnets": ${PrivateSubnetIdsJson},
                          "SecurityGroups": ["${SecurityGroupId}"],
                          "AssignPublicIp": "DISABLED"
                        }
                      },
                      "Overrides": {
                        "ContainerOverrides": [{
                          "Name": "postprocess",
                          "Environment": [
                            {"Name": "JOB_ID", "Value.$": "$.jobId"},
                            {"Name": "TENANT_ID", "Value.$": "$.tenantId"},
                            {"Name": "TEXTRACT_JOBS_JSON", "Value.$": "States.JsonToString($.textractJobs)"},
                            {"Name": "PARTS_JSON", "Value.$": "States.JsonToString($.parts)"}
                          ]
                        }]
                      }
                    },
                    "Next": "MarkSucceeded",
                    "Catch": [{ "ErrorEquals": ["States.ALL"], "ResultPath": "$.error", "Next": "MarkFailed" }]
                  },

                  "MarkSucceeded": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u, outputBucket = :ob, outputKey = :ok",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "SUCCEEDED" },
                        ":u": { "S.$": "$$.State.EnteredTime" },
                        ":ob": { "S": "${ParsedBucket}" },
                        ":ok": { "S.$": "States.Format('{}/{}/output/document.json', $.tenantId, $.jobId)" }
                      }
                    },
                    "End": true
                  },

                  "MarkFailed": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${DocumentJobsTable}",
                      "Key": { "jobId": { "S.$": "$.jobId" } },
                      "UpdateExpression": "SET #s = :s, updatedAt = :u, errorMessage = :e",
                      "ExpressionAttributeNames": { "#s": "status" },
                      "ExpressionAttributeValues": {
                        ":s": { "S": "FAILED" },
                        ":u": { "S.$": "$$.State.EnteredTime" },
                        ":e": { "S.$": "States.JsonToString($.error)" }
                      }
                    },
                    "End": true
                  }
                }
              }



          - PrivateSubnetIdsJson: !Join
              - ""
              - - '["'
                - !Join ['","', !Ref PrivateSubnetIds]
                - '"]'
  ############################################
  # Lambda: Job API (4 handlers)
  ############################################
  JobApiLambdaRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "${ProjectName}-${Environment}-jobapi"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal: { Service: lambda.amazonaws.com }
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: JobApiAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: [dynamodb:GetItem, dynamodb:PutItem, dynamodb:UpdateItem]
                Resource: !GetAtt DocumentJobsTable.Arn
              - Effect: Allow
                Action: [s3:PutObject, s3:GetObject]
                Resource:
                  - !Sub "${RawBucket.Arn}/*"
                  - !Sub "${ParsedBucket.Arn}/*"
              - Effect: Allow
                Action: [states:StartExecution]
                Resource: !Ref OrchestratorStateMachine

  CreateJobFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${Environment}-create-job"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt JobApiLambdaRole.Arn
      Timeout: 30
      MemorySize: 512
      Environment:
        Variables:
          FRONTEND_ORIGIN: !Ref FrontendOrigin
          RAW_BUCKET: !Ref RawBucket
          PARSED_BUCKET: !Ref ParsedBucket
          JOBS_TABLE: !Ref DocumentJobsTable
          PRESIGN_EXPIRY: !Ref PresignUrlExpirySeconds
          TTL_DAYS: !Ref JobTtlDays
      Code:
        ZipFile: |
          import json, os, time, uuid
          import boto3

          ddb = boto3.client("dynamodb")
          s3 = boto3.client("s3")

          RAW_BUCKET = os.environ["RAW_BUCKET"]
          JOBS_TABLE = os.environ["JOBS_TABLE"]
          PRESIGN_EXPIRY = int(os.environ.get("PRESIGN_EXPIRY","3600"))
          TTL_DAYS = int(os.environ.get("TTL_DAYS","30"))

          def _resp(code, body, headers=None):
              h = {"Content-Type":"application/json", "Access-Control-Allow-Origin":os.environ.get("FRONTEND_ORIGIN","*")}
              if headers: h.update(headers)
              return {"statusCode": code, "headers": h, "body": json.dumps(body)}

          def handler(event, context):
              try:
                  body = json.loads(event.get("body") or "{}")
                  tenant_id = body["tenantId"]
                  filename = body["filename"]
                  content_type = body.get("contentType","application/pdf")

                  job_id = str(uuid.uuid4())
                  key = f"{tenant_id}/{job_id}/input/{filename}"
                  now = int(time.time())
                  ttl = now + TTL_DAYS*24*3600

                  upload_url = s3.generate_presigned_url(
                      ClientMethod="put_object",
                      Params={"Bucket": RAW_BUCKET, "Key": key, "ContentType": content_type},
                      ExpiresIn=PRESIGN_EXPIRY
                  )

                  ddb.put_item(
                      TableName=JOBS_TABLE,
                      Item={
                          "jobId": {"S": job_id},
                          "tenantId": {"S": tenant_id},
                          "status": {"S": "UPLOADING"},
                          "inputBucket": {"S": RAW_BUCKET},
                          "inputKey": {"S": key},
                          "filename": {"S": filename},
                          "contentType": {"S": content_type},
                          "createdAt": {"S": __import__("datetime").datetime.utcnow().strftime("%Y-%m-%dT%H:%M:%SZ")},
                          "updatedAt": {"S": __import__("datetime").datetime.utcnow().strftime("%Y-%m-%dT%H:%M:%SZ")},
                          "ttlEpochSeconds": {"N": str(ttl)}
                      }
                  )

                  return _resp(201, {
                      "jobId": job_id,
                      "status": "UPLOADING",
                      "upload": {
                          "method": "PUT",
                          "url": upload_url,
                          "headers": {"Content-Type": content_type},
                          "expiresInSeconds": PRESIGN_EXPIRY,
                          "s3": {"bucket": RAW_BUCKET, "key": key}
                      },
                      "links": {
                          "start": f"/jobs/{job_id}/start",
                          "status": f"/jobs/{job_id}",
                          "result": f"/jobs/{job_id}/result"
                      }
                  })
              except KeyError as e:
                  return _resp(400, {"error":"BAD_REQUEST", "message": f"Missing field: {e}"})
              except Exception as e:
                  return _resp(500, {"error":"INTERNAL", "message": str(e)})

  StartJobFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${Environment}-start-job"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt JobApiLambdaRole.Arn
      Timeout: 30
      MemorySize: 512
      Environment:
        Variables:
          FRONTEND_ORIGIN: !Ref FrontendOrigin
          JOBS_TABLE: !Ref DocumentJobsTable
          STATE_MACHINE_ARN: !Ref OrchestratorStateMachine
      Code:
        ZipFile: |
          import json, os, time
          import boto3

          ddb = boto3.client("dynamodb")
          s3 = boto3.client("s3")
          sfn = boto3.client("stepfunctions")

          JOBS_TABLE = os.environ["JOBS_TABLE"]
          SM_ARN = os.environ["STATE_MACHINE_ARN"]

          def _resp(code, body):
              return {"statusCode": code, "headers": {"Content-Type":"application/json","Access-Control-Allow-Origin":os.environ.get("FRONTEND_ORIGIN","*")}, "body": json.dumps(body)}

          def handler(event, context):
              try:
                  job_id = event["pathParameters"]["jobId"]
                  now = int(time.time())

                  item = ddb.get_item(TableName=JOBS_TABLE, Key={"jobId":{"S":job_id}}).get("Item")
                  if not item:
                      return _resp(404, {"error":"NOT_FOUND","message":"job not found"})

                  status = item.get("status",{}).get("S","")
                  if status in ("STARTED","SPLITTING","TEXTRACT_RUNNING","POSTPROCESSING","SUCCEEDED"):
                      return _resp(202, {"jobId": job_id, "status": status, "message":"already started", "links":{"status":f"/jobs/{job_id}","result":f"/jobs/{job_id}/result"}})
                  if status == "FAILED":
                      return _resp(409, {"error":"CONFLICT","message":"job already failed; create a new job"})

                  bucket = item["inputBucket"]["S"]
                  key = item["inputKey"]["S"]

                  # Determine size (input.bytes) to drive split decision
                  head = s3.head_object(Bucket=bucket, Key=key)
                  bytes_ = int(head["ContentLength"])

                  tenant_id = item["tenantId"]["S"]

                  # Mark SUBMITTED
                  ddb.update_item(
                      TableName=JOBS_TABLE,
                      Key={"jobId":{"S":job_id}},
                      UpdateExpression="SET #s=:s, updatedAt=:u, inputBytes=:b",
                      ExpressionAttributeNames={"#s":"status"},
                      ExpressionAttributeValues={
                          ":s":{"S":"SUBMITTED"},
                          ":u":{"S": __import__("datetime").datetime.utcnow().strftime("%Y-%m-%dT%H:%M:%SZ")},
                          ":b":{"N":str(bytes_)}
                      }
                  )

                  execution_input = {
                      "jobId": job_id,
                      "tenantId": tenant_id,
                      "input": {"bucket": bucket, "key": key, "bytes": bytes_},
                      "options": {"storeTextractRaw": True}
                  }

                  sfn.start_execution(
                      stateMachineArn=SM_ARN,
                      name=f"{job_id}-{now}",
                      input=json.dumps(execution_input)
                  )

                  return _resp(202, {"jobId": job_id, "status":"SUBMITTED", "links":{"status":f"/jobs/{job_id}","result":f"/jobs/{job_id}/result"}})
              except Exception as e:
                  return _resp(500, {"error":"INTERNAL","message": str(e)})

  GetJobStatusFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${Environment}-get-job"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt JobApiLambdaRole.Arn
      Timeout: 10
      MemorySize: 256
      Environment:
        Variables:
          FRONTEND_ORIGIN: !Ref FrontendOrigin
          JOBS_TABLE: !Ref DocumentJobsTable
      Code:
        ZipFile: |
          import json, os
          import boto3

          ddb = boto3.client("dynamodb")
          JOBS_TABLE = os.environ["JOBS_TABLE"]

          def _resp(code, body, extra_headers=None):
              h = {"Content-Type":"application/json","Access-Control-Allow-Origin":os.environ.get("FRONTEND_ORIGIN","*")}
              if extra_headers: h.update(extra_headers)
              return {"statusCode": code, "headers": h, "body": json.dumps(body)}

          def handler(event, context):
              job_id = event["pathParameters"]["jobId"]
              item = ddb.get_item(TableName=JOBS_TABLE, Key={"jobId":{"S":job_id}}).get("Item")
              if not item:
                  return _resp(404, {"error":"NOT_FOUND","message":"job not found"})

              def gS(k): return item.get(k,{}).get("S")
              def gN(k):
                  v = item.get(k,{}).get("N")
                  return int(v) if v else None

              out = {
                  "jobId": gS("jobId"),
                  "tenantId": gS("tenantId"),
                  "status": gS("status"),
                  "createdAt": gS("createdAt"),
                  "updatedAt": gS("updatedAt"),
                  "input": {
                      "bucket": gS("inputBucket"),
                      "key": gS("inputKey"),
                      "bytes": gN("inputBytes"),
                      "filename": gS("filename"),
                      "contentType": gS("contentType")
                  },
                  "progress": {
                      "partsTotal": gN("partsTotal"),
                      "partsDone": gN("partsDone")
                  },
                  "output": {
                      "bucket": gS("outputBucket"),
                      "key": gS("outputKey")
                  },
                  "errorMessage": gS("errorMessage"),
                  "links": {
                      "result": f"/jobs/{job_id}/result"
                  }
              }
              return _resp(200, out)

  GetJobResultFunction:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub "${ProjectName}-${Environment}-get-result"
      Runtime: python3.12
      Handler: index.handler
      Role: !GetAtt JobApiLambdaRole.Arn
      Timeout: 15
      MemorySize: 256
      Environment:
        Variables:
          FRONTEND_ORIGIN: !Ref FrontendOrigin
          JOBS_TABLE: !Ref DocumentJobsTable
          PRESIGN_EXPIRY: !Ref PresignUrlExpirySeconds
      Code:
        ZipFile: |
          import json, os
          import boto3

          ddb = boto3.client("dynamodb")
          s3 = boto3.client("s3")

          JOBS_TABLE = os.environ["JOBS_TABLE"]
          PRESIGN_EXPIRY = int(os.environ.get("PRESIGN_EXPIRY","3600"))

          def _resp(code, body, extra_headers=None):
              h = {"Content-Type":"application/json","Access-Control-Allow-Origin":os.environ.get("FRONTEND_ORIGIN","*")}
              if extra_headers: h.update(extra_headers)
              return {"statusCode": code, "headers": h, "body": json.dumps(body)}

          def handler(event, context):
              job_id = event["pathParameters"]["jobId"]
              item = ddb.get_item(TableName=JOBS_TABLE, Key={"jobId":{"S":job_id}}).get("Item")
              if not item:
                  return _resp(404, {"error":"NOT_FOUND","message":"job not found"})

              status = item.get("status",{}).get("S","")
              if status != "SUCCEEDED":
                  # Hint the client how long to wait (simple backoff)
                  retry = 2 if status in ("SUBMITTED","STARTED","SPLITTING","TEXTRACT_RUNNING") else 5
                  return _resp(202, {"jobId": job_id, "status": status, "retryAfterSeconds": retry})

              bucket = item.get("outputBucket",{}).get("S")
              key = item.get("outputKey",{}).get("S")
              if not bucket or not key:
                  return _resp(500, {"error":"INTERNAL","message":"missing output pointer"})

              url = s3.generate_presigned_url(
                  ClientMethod="get_object",
                  Params={"Bucket": bucket, "Key": key},
                  ExpiresIn=PRESIGN_EXPIRY
              )
              return _resp(200, {"jobId": job_id, "status":"SUCCEEDED", "downloadUrl": url, "expiresInSeconds": PRESIGN_EXPIRY})

  ############################################
  # API Gateway REST API + Lambda proxy integrations
  ############################################
  RestApi:
    Type: AWS::ApiGateway::RestApi
    Properties:
      Name: !Sub "${ProjectName}-${Environment}-api"
      EndpointConfiguration:
        Types: [REGIONAL]

  ApiJobs:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !GetAtt RestApi.RootResourceId
      PathPart: jobs

  ApiJobsPost:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobs
      HttpMethod: POST
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${CreateJobFunction.Arn}/invocations"

  
  ApiJobsOptions:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobs
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: !Sub "'${FrontendOrigin}'"
              method.response.header.Access-Control-Allow-Methods: "'GET,POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Requested-With'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Headers: true

  ApiJobsId:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ApiJobs
      PathPart: "{jobId}"

  ApiJobsIdGet:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsId
      HttpMethod: GET
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetJobStatusFunction.Arn}/invocations"

  
  ApiJobsIdOptions:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsId
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: !Sub "'${FrontendOrigin}'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Requested-With'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Headers: true

  ApiJobsStart:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ApiJobsId
      PathPart: start

  
  ApiJobsStartOptions:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsStart
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: !Sub "'${FrontendOrigin}'"
              method.response.header.Access-Control-Allow-Methods: "'POST,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Requested-With'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Headers: true

  ApiJobsStartPost:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsStart
      HttpMethod: POST
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${StartJobFunction.Arn}/invocations"

  ApiJobsResult:
    Type: AWS::ApiGateway::Resource
    Properties:
      RestApiId: !Ref RestApi
      ParentId: !Ref ApiJobsId
      PathPart: result

  
  ApiJobsResultOptions:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsResult
      HttpMethod: OPTIONS
      AuthorizationType: NONE
      Integration:
        Type: MOCK
        RequestTemplates:
          application/json: '{"statusCode": 200}'
        IntegrationResponses:
          - StatusCode: 200
            ResponseParameters:
              method.response.header.Access-Control-Allow-Origin: !Sub "'${FrontendOrigin}'"
              method.response.header.Access-Control-Allow-Methods: "'GET,OPTIONS'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Requested-With'"
      MethodResponses:
        - StatusCode: 200
          ResponseParameters:
            method.response.header.Access-Control-Allow-Origin: true
            method.response.header.Access-Control-Allow-Methods: true
            method.response.header.Access-Control-Allow-Headers: true

  ApiJobsResultGet:
    Type: AWS::ApiGateway::Method
    Properties:
      RestApiId: !Ref RestApi
      ResourceId: !Ref ApiJobsResult
      HttpMethod: GET
      AuthorizationType: NONE
      Integration:
        Type: AWS_PROXY
        IntegrationHttpMethod: POST
        Uri: !Sub "arn:aws:apigateway:${AWS::Region}:lambda:path/2015-03-31/functions/${GetJobResultFunction.Arn}/invocations"

  ApiDeployment:
    Type: AWS::ApiGateway::Deployment
    DependsOn:
      - ApiJobsPost
      - ApiJobsIdGet
      - ApiJobsStartPost
      - ApiJobsResultGet
      - ApiJobsOptions
      - ApiJobsIdOptions
      - ApiJobsStartOptions
      - ApiJobsResultOptions
    Properties:
      RestApiId: !Ref RestApi
      StageName: !Ref ApiStageName

  # Lambda invoke permissions
  AllowInvokeCreate:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref CreateJobFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/POST/jobs"

  AllowInvokeGetJob:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref GetJobStatusFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/GET/jobs/*"

  AllowInvokeStart:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref StartJobFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/POST/jobs/*/start"

  AllowInvokeResult:
    Type: AWS::Lambda::Permission
    Properties:
      Action: lambda:InvokeFunction
      FunctionName: !Ref GetJobResultFunction
      Principal: apigateway.amazonaws.com
      SourceArn: !Sub "arn:aws:execute-api:${AWS::Region}:${AWS::AccountId}:${RestApi}/*/GET/jobs/*/result"

Outputs:
  ApiBaseUrl:
    Description: Base URL for the REST API
    Value: !Sub "https://${RestApi}.execute-api.${AWS::Region}.amazonaws.com/${ApiStageName}"
  RawBucketName:
    Value: !Ref RawBucket
  ParsedBucketName:
    Value: !Ref ParsedBucket
  JobsTableName:
    Value: !Ref DocumentJobsTable
  StateMachineArn:
    Value: !Ref OrchestratorStateMachine
  ClusterName:
    Value: !Ref ProcessingCluster
